@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Passion+One|Righteous');
@import url('https://fonts.googleapis.com/css?family=Arbutus|Luckiest+Guy|Shojumaru');



#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);

}
#custom-bootstrap-menu.navbar-default {
    font-size: 30px;
    background-color: rgba(57, 230, 14, 0.41);
    border-bottom-width: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(193, 201, 194, 1);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(193, 201, 194, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(193, 201, 194, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(193, 201, 194, 0.81);
    background: -webkit-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(193, 201, 194, 0.81) 100%);
    background: linear-gradient(to bottom, rgba(231, 231, 231, 1) 0%, rgba(193, 201, 194, 0.81) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #c1c9c2;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #c1c9c2;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #c1c9c2;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #39e60e;
}

#brand {
    width: 60px;
    height: 60px;
    float: left;
}

.card-img-top {
    width: 100px;
}

.cards {
    display: inline-block;
    width: 250px;
    margin: 15px;
    /*margin-left: 90px;*/
}

#bookingTitle {
    text-align: center;
}

#addBookingButton {
    text-align: center;
}



#warped {position: relative; display: block; width:588px; height:440px;}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
    -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{font-family:Arbutus;font-size:100px;font-weight:regular;font-style:normal;
    line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

#warped .w0 {-moz-transform: rotate(-1.32rad);-webkit-transform: rotate(-1.32rad);-o-transform:
        rotate(-1.32rad);-ms-transform: rotate(-1.32rad); transform: rotate(-1.32rad);
    width: 67px; height: 65px; left: 45.11px; top: 186.93px;}

#warped .w1 {-moz-transform: rotate(-1.01rad);-webkit-transform: rotate(-1.01rad);-o-transform:
        rotate(-1.01rad);-ms-transform: rotate(-1.01rad); transform: rotate(-1.01rad);
    width: 50px; height: 65px; left: 81.98px; top: 121.6px;}

#warped .w2 {-moz-transform: rotate(-0.74rad);-webkit-transform: rotate(-0.74rad);-o-transform:
        rotate(-0.74rad);-ms-transform: rotate(-0.74rad); transform: rotate(-0.74rad);
    width: 50px; height: 65px; left: 122.36px; top: 73.5px;}

#warped .w3 {-moz-transform: rotate(-0.47rad);-webkit-transform: rotate(-0.47rad);-o-transform:
        rotate(-0.47rad);-ms-transform: rotate(-0.47rad); transform: rotate(-0.47rad);
    width: 50px; height: 65px; left: 174.13px; top: 37.93px;}

#warped .w4 {-moz-transform: rotate(-0.26rad);-webkit-transform: rotate(-0.26rad);-o-transform:
        rotate(-0.26rad);-ms-transform: rotate(-0.26rad); transform: rotate(-0.26rad);
    width: 25px; height: 65px; left: 233.83px; top: 20.24px;}

#warped .w5 {-moz-transform: rotate(0.05rad);-webkit-transform: rotate(0.05rad);-o-transform:
        rotate(0.05rad);-ms-transform: rotate(0.05rad); transform: rotate(0.05rad);
    width: 89px; height: 65px; left: 271.22px; top: 13.29px;}

#warped .w6 {-moz-transform: rotate(0.4rad);-webkit-transform: rotate(0.4rad);-o-transform:
        rotate(0.4rad);-ms-transform: rotate(0.4rad); transform: rotate(0.4rad);
    width: 50px; height: 65px; left: 370.67px; top: 31.79px;}

#warped .w7 {-moz-transform: rotate(0.62rad);-webkit-transform: rotate(0.62rad);-o-transform:
        rotate(0.62rad);-ms-transform: rotate(0.62rad); transform: rotate(0.62rad);
    width: 25px; height: 65px; left: 427.09px; top: 56.52px;}

#warped .w8 {-moz-transform: rotate(0.87rad);-webkit-transform: rotate(0.87rad);-o-transform:
        rotate(0.87rad);-ms-transform: rotate(0.87rad); transform: rotate(0.87rad);
    width: 67px; height: 65px; left: 449.24px; top: 96.53px;}

#warped .w9 {-moz-transform: rotate(1.13rad);-webkit-transform: rotate(1.13rad);-o-transform:
        rotate(1.13rad);-ms-transform: rotate(1.13rad); transform: rotate(1.13rad);
    width: 28px; height: 65px; left: 501.12px; top: 147.43px;}

#warped .w10 {-moz-transform: rotate(1.34rad);-webkit-transform: rotate(1.34rad);-o-transform:
        rotate(1.34rad);-ms-transform: rotate(1.34rad); transform: rotate(1.34rad);
    width: 44px; height: 65px; left: 509.04px; top: 193.67px;}

#warped .w11 {-moz-transform: rotate(5.01rad);-webkit-transform: rotate(5.01rad);-o-transform:
        rotate(5.01rad);-ms-transform: rotate(5.01rad); transform: rotate(5.01rad);
    width: 10px; height: 24px; left: 145.92px; top: 150.94px;}

#warped .w12 {-moz-transform: rotate(5.16rad);-webkit-transform: rotate(5.16rad);-o-transform:
        rotate(5.16rad);-ms-transform: rotate(5.16rad); transform: rotate(5.16rad);
    width: 23px; height: 24px; left: 147.32px; top: 130.97px;}

#warped .w13 {-moz-transform: rotate(5.32rad);-webkit-transform: rotate(5.32rad);-o-transform:
        rotate(5.32rad);-ms-transform: rotate(5.32rad); transform: rotate(5.32rad);
    width: 15px; height: 24px; left: 163.41px; top: 110.26px;}

#warped .w14 {-moz-transform: rotate(5.48rad);-webkit-transform: rotate(5.48rad);-o-transform:
        rotate(5.48rad);-ms-transform: rotate(5.48rad); transform: rotate(5.48rad);
    width: 23px; height: 24px; left: 174.64px; top: 91.75px;}

#warped .w15 {-moz-transform: rotate(5.62rad);-webkit-transform: rotate(5.62rad);-o-transform:
        rotate(5.62rad);-ms-transform: rotate(5.62rad); transform: rotate(5.62rad);
    width: 11px; height: 24px; left: 197.04px; top: 77.1px;}

#warped .w16 {-moz-transform: rotate(5.8rad);-webkit-transform: rotate(5.8rad);-o-transform:
        rotate(5.8rad);-ms-transform: rotate(5.8rad); transform: rotate(5.8rad);
    width: 31px; height: 24px; left: 208.91px; top: 63.11px;}

#warped .w17 {-moz-transform: rotate(6rad);-webkit-transform: rotate(6rad);-o-transform:
        rotate(6rad);-ms-transform: rotate(6rad); transform: rotate(6rad); width:
        21px; height: 24px; left: 242.66px; top: 51.66px;}

#warped .w18 {-moz-transform: rotate(6.18rad);-webkit-transform: rotate(6.18rad);-o-transform:
        rotate(6.18rad);-ms-transform: rotate(6.18rad); transform: rotate(6.18rad);
    width: 23px; height: 24px; left: 268.16px; top: 46.68px;}

#warped .w19 {-moz-transform: rotate(6.34rad);-webkit-transform: rotate(6.34rad);-o-transform:
        rotate(6.34rad);-ms-transform: rotate(6.34rad); transform: rotate(6.34rad);
    width: 13px; height: 24px; left: 296.13px; top: 46.24px;}

#warped .w20 {-moz-transform: rotate(6.49rad);-webkit-transform: rotate(6.49rad);-o-transform:
        rotate(6.49rad);-ms-transform: rotate(6.49rad); transform: rotate(6.49rad);
    width: 23px; height: 24px; left: 313.9px; top: 49.32px;}

#warped .w21 {-moz-transform: rotate(6.65rad);-webkit-transform: rotate(6.65rad);-o-transform:
        rotate(6.65rad);-ms-transform: rotate(6.65rad); transform: rotate(6.65rad);
    width: 15px; height: 24px; left: 340.87px; top: 56.2px;}

#warped .w22 {-moz-transform: rotate(6.85rad);-webkit-transform: rotate(6.85rad);-o-transform:
        rotate(6.85rad);-ms-transform: rotate(6.85rad); transform: rotate(6.85rad);
    width: 35px; height: 24px; left: 357.56px; top: 69.79px;}

#warped .w23 {-moz-transform: rotate(7.04rad);-webkit-transform: rotate(7.04rad);-o-transform:
        rotate(7.04rad);-ms-transform: rotate(7.04rad); transform: rotate(7.04rad);
    width: 11px; height: 24px; left: 391.57px; top: 87.02px;}

#warped .w24 {-moz-transform: rotate(7.14rad);-webkit-transform: rotate(7.14rad);-o-transform:
        rotate(7.14rad);-ms-transform: rotate(7.14rad); transform: rotate(7.14rad);
    width: 11px; height: 24px; left: 402.59px; top: 98.62px;}

#warped .w25 {-moz-transform: rotate(7.29rad);-webkit-transform: rotate(7.29rad);-o-transform:
        rotate(7.29rad);-ms-transform: rotate(7.29rad); transform: rotate(7.29rad);
    width: 23px; height: 24px; left: 409.6px; top: 116.34px;}

#warped .w26 {-moz-transform: rotate(7.44rad);-webkit-transform: rotate(7.44rad);-o-transform:
        rotate(7.44rad);-ms-transform: rotate(7.44rad); transform: rotate(7.44rad);
    width: 13px; height: 24px; left: 425.27px; top: 136.68px;}

#warped .w27 {-moz-transform: rotate(7.55rad);-webkit-transform: rotate(7.55rad);-o-transform:
        rotate(7.55rad);-ms-transform: rotate(7.55rad); transform: rotate(7.55rad);
    width: 10px; height: 24px; left: 432.45px; top: 152.17px;}

#warped .w28 {-moz-transform: rotate(7.68rad);-webkit-transform: rotate(7.68rad);-o-transform:
        rotate(7.68rad);-ms-transform: rotate(7.68rad); transform: rotate(7.68rad);
    width: 18px; height: 24px; left: 432.84px; top: 170.64px;}

#warped .w29 {-moz-transform: rotate(7.84rad);-webkit-transform: rotate(7.84rad);-o-transform:
        rotate(7.84rad);-ms-transform: rotate(7.84rad); transform: rotate(7.84rad);
    width: 19px; height: 24px; left: 434.48px; top: 194.02px;}

#warped .w30 {-moz-transform: rotate(7.97rad);-webkit-transform: rotate(7.97rad);-o-transform:
        rotate(7.97rad);-ms-transform: rotate(7.97rad); transform: rotate(7.97rad);
    width: 11px; height: 24px; left: 437.41px; top: 213.97px;}

#warped .w31 {-moz-transform: rotate(8.08rad);-webkit-transform: rotate(8.08rad);-o-transform:
        rotate(8.08rad);-ms-transform: rotate(8.08rad); transform: rotate(8.08rad);
    width: 11px; height: 24px; left: 434.65px; top: 229.73px;}

#warped .w32 {-moz-transform: rotate(8.27rad);-webkit-transform: rotate(8.27rad);-o-transform:
        rotate(8.27rad);-ms-transform: rotate(8.27rad); transform: rotate(8.27rad);
    width: 36px; height: 24px; left: 413.15px; top: 256.72px;}

#warped .w33 {-moz-transform: rotate(8.5rad);-webkit-transform: rotate(8.5rad);-o-transform:
        rotate(8.5rad);-ms-transform: rotate(8.5rad); transform: rotate(8.5rad);
    width: 23px; height: 24px; left: 402.2px; top: 286.39px;}

#warped .w34 {-moz-transform: rotate(8.66rad);-webkit-transform: rotate(8.66rad);-o-transform:
        rotate(8.66rad);-ms-transform: rotate(8.66rad); transform: rotate(8.66rad);
    width: 15px; height: 24px; left: 390.27px; top: 304.31px;}

#warped .w35 {-moz-transform: rotate(8.82rad);-webkit-transform: rotate(8.82rad);-o-transform:
        rotate(8.82rad);-ms-transform: rotate(8.82rad); transform: rotate(8.82rad);
    width: 23px; height: 24px; left: 367.68px; top: 319.46px;}

#warped .w36 {-moz-transform: rotate(8.96rad);-webkit-transform: rotate(8.96rad);-o-transform:
        rotate(8.96rad);-ms-transform: rotate(8.96rad); transform: rotate(8.96rad);
    width: 11px; height: 24px; left: 354.73px; top: 330.58px;}

#warped .w37 {-moz-transform: rotate(9.07rad);-webkit-transform: rotate(9.07rad);-o-transform:
        rotate(9.07rad);-ms-transform: rotate(9.07rad); transform: rotate(9.07rad);
    width: 10px; height: 24px; left: 340.99px; top: 336.69px;}

#warped .w38 {-moz-transform: rotate(9.18rad);-webkit-transform: rotate(9.18rad);-o-transform:
        rotate(9.18rad);-ms-transform: rotate(9.18rad); transform: rotate(9.18rad);
    width: 15px; height: 24px; left: 321.76px; top: 341.79px;}

#warped .w39 {-moz-transform: rotate(9.31rad);-webkit-transform: rotate(9.31rad);-o-transform:
        rotate(9.31rad);-ms-transform: rotate(9.31rad); transform: rotate(9.31rad);
    width: 12px; height: 24px; left: 305.06px; top: 345.02px;}

#warped .w40 {-moz-transform: rotate(9.42rad);-webkit-transform: rotate(9.42rad);-o-transform:
        rotate(9.42rad);-ms-transform: rotate(9.42rad); transform: rotate(9.42rad);
    width: 11px; height: 24px; left: 289.09px; top: 345.99px;}


@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
    #warped {position: relative; display: block; width:588px; height:440px;}

    #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
        -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
    100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

    #warped span{font-family:Arbutus;font-size:50px;font-weight:regular;font-style:normal;
        line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

    #warped .w0 {-moz-transform: rotate(-1.27rad);-webkit-transform: rotate(-1.27rad);-o-transform:
            rotate(-1.27rad);-ms-transform: rotate(-1.27rad); transform: rotate(-1.27rad);
        width: 33px; height: 32px; left: 133.31px; top: 191.76px;}

    #warped .w1 {-moz-transform: rotate(-0.98rad);-webkit-transform: rotate(-0.98rad);-o-transform:
            rotate(-0.98rad);-ms-transform: rotate(-0.98rad); transform: rotate(-0.98rad);
        width: 25px; height: 32px; left: 155.46px; top: 154.04px;}

    #warped .w2 {-moz-transform: rotate(-0.73rad);-webkit-transform: rotate(-0.73rad);-o-transform:
            rotate(-0.73rad);-ms-transform: rotate(-0.73rad); transform: rotate(-0.73rad);
        width: 25px; height: 32px; left: 180.47px; top: 125.57px;}

    #warped .w3 {-moz-transform: rotate(-0.47rad);-webkit-transform: rotate(-0.47rad);-o-transform:
            rotate(-0.47rad);-ms-transform: rotate(-0.47rad); transform: rotate(-0.47rad);
        width: 25px; height: 32px; left: 211.92px; top: 104.43px;}

    #warped .w4 {-moz-transform: rotate(-0.25rad);-webkit-transform: rotate(-0.25rad);-o-transform:
            rotate(-0.25rad);-ms-transform: rotate(-0.25rad); transform: rotate(-0.25rad);
        width: 13px; height: 32px; left: 247.88px; top: 93.37px;}

    #warped .w5 {-moz-transform: rotate(0.03rad);-webkit-transform: rotate(0.03rad);-o-transform:
            rotate(0.03rad);-ms-transform: rotate(0.03rad); transform: rotate(0.03rad);
        width: 44px; height: 32px; left: 273.52px; top: 89.1px;}

    #warped .w6 {-moz-transform: rotate(0.36rad);-webkit-transform: rotate(0.36rad);-o-transform:
            rotate(0.36rad);-ms-transform: rotate(0.36rad); transform: rotate(0.36rad);
        width: 25px; height: 32px; left: 329.38px; top: 98.46px;}

    #warped .w7 {-moz-transform: rotate(0.57rad);-webkit-transform: rotate(0.57rad);-o-transform:
            rotate(0.57rad);-ms-transform: rotate(0.57rad); transform: rotate(0.57rad);
        width: 13px; height: 32px; left: 363.86px; top: 112.91px;}

    #warped .w8 {-moz-transform: rotate(0.82rad);-webkit-transform: rotate(0.82rad);-o-transform:
            rotate(0.82rad);-ms-transform: rotate(0.82rad); transform: rotate(0.82rad);
        width: 33px; height: 32px; left: 381.31px; top: 136.07px;}

    #warped .w9 {-moz-transform: rotate(1.07rad);-webkit-transform: rotate(1.07rad);-o-transform:
            rotate(1.07rad);-ms-transform: rotate(1.07rad); transform: rotate(1.07rad);
        width: 14px; height: 32px; left: 412.06px; top: 165.62px;}

    #warped .w10 {-moz-transform: rotate(1.28rad);-webkit-transform: rotate(1.28rad);-o-transform:
            rotate(1.28rad);-ms-transform: rotate(1.28rad); transform: rotate(1.28rad);
        width: 22px; height: 32px; left: 419.93px; top: 194.2px;}

    #warped .w11 {-moz-transform: rotate(5.01rad);-webkit-transform: rotate(5.01rad);-o-transform:
            rotate(5.01rad);-ms-transform: rotate(5.01rad); transform: rotate(5.01rad);
        width: 10px; height: 24px; left: 145.92px; top: 150.94px;}

    #warped .w12 {-moz-transform: rotate(5.16rad);-webkit-transform: rotate(5.16rad);-o-transform:
            rotate(5.16rad);-ms-transform: rotate(5.16rad); transform: rotate(5.16rad);
        width: 23px; height: 24px; left: 147.32px; top: 130.97px;}

    #warped .w13 {-moz-transform: rotate(5.32rad);-webkit-transform: rotate(5.32rad);-o-transform:
            rotate(5.32rad);-ms-transform: rotate(5.32rad); transform: rotate(5.32rad);
        width: 15px; height: 24px; left: 163.41px; top: 110.26px;}

    #warped .w14 {-moz-transform: rotate(5.48rad);-webkit-transform: rotate(5.48rad);-o-transform:
            rotate(5.48rad);-ms-transform: rotate(5.48rad); transform: rotate(5.48rad);
        width: 23px; height: 24px; left: 174.64px; top: 91.75px;}

    #warped .w15 {-moz-transform: rotate(5.62rad);-webkit-transform: rotate(5.62rad);-o-transform:
            rotate(5.62rad);-ms-transform: rotate(5.62rad); transform: rotate(5.62rad);
        width: 11px; height: 24px; left: 197.04px; top: 77.1px;}

    #warped .w16 {-moz-transform: rotate(5.8rad);-webkit-transform: rotate(5.8rad);-o-transform:
            rotate(5.8rad);-ms-transform: rotate(5.8rad); transform: rotate(5.8rad);
        width: 31px; height: 24px; left: 208.91px; top: 63.11px;}

    #warped .w17 {-moz-transform: rotate(6rad);-webkit-transform: rotate(6rad);-o-transform:
            rotate(6rad);-ms-transform: rotate(6rad); transform: rotate(6rad); width:
            21px; height: 24px; left: 242.66px; top: 51.66px;}

    #warped .w18 {-moz-transform: rotate(6.18rad);-webkit-transform: rotate(6.18rad);-o-transform:
            rotate(6.18rad);-ms-transform: rotate(6.18rad); transform: rotate(6.18rad);
        width: 23px; height: 24px; left: 268.16px; top: 46.68px;}

    #warped .w19 {-moz-transform: rotate(6.34rad);-webkit-transform: rotate(6.34rad);-o-transform:
            rotate(6.34rad);-ms-transform: rotate(6.34rad); transform: rotate(6.34rad);
        width: 13px; height: 24px; left: 296.13px; top: 46.24px;}

    #warped .w20 {-moz-transform: rotate(6.49rad);-webkit-transform: rotate(6.49rad);-o-transform:
            rotate(6.49rad);-ms-transform: rotate(6.49rad); transform: rotate(6.49rad);
        width: 23px; height: 24px; left: 313.9px; top: 49.32px;}

    #warped .w21 {-moz-transform: rotate(6.65rad);-webkit-transform: rotate(6.65rad);-o-transform:
            rotate(6.65rad);-ms-transform: rotate(6.65rad); transform: rotate(6.65rad);
        width: 15px; height: 24px; left: 340.87px; top: 56.2px;}

    #warped .w22 {-moz-transform: rotate(6.85rad);-webkit-transform: rotate(6.85rad);-o-transform:
            rotate(6.85rad);-ms-transform: rotate(6.85rad); transform: rotate(6.85rad);
        width: 35px; height: 24px; left: 357.56px; top: 69.79px;}

    #warped .w23 {-moz-transform: rotate(7.04rad);-webkit-transform: rotate(7.04rad);-o-transform:
            rotate(7.04rad);-ms-transform: rotate(7.04rad); transform: rotate(7.04rad);
        width: 11px; height: 24px; left: 391.57px; top: 87.02px;}

    #warped .w24 {-moz-transform: rotate(7.14rad);-webkit-transform: rotate(7.14rad);-o-transform:
            rotate(7.14rad);-ms-transform: rotate(7.14rad); transform: rotate(7.14rad);
        width: 11px; height: 24px; left: 402.59px; top: 98.62px;}

    #warped .w25 {-moz-transform: rotate(7.29rad);-webkit-transform: rotate(7.29rad);-o-transform:
            rotate(7.29rad);-ms-transform: rotate(7.29rad); transform: rotate(7.29rad);
        width: 23px; height: 24px; left: 409.6px; top: 116.34px;}

    #warped .w26 {-moz-transform: rotate(7.44rad);-webkit-transform: rotate(7.44rad);-o-transform:
            rotate(7.44rad);-ms-transform: rotate(7.44rad); transform: rotate(7.44rad);
        width: 13px; height: 24px; left: 425.27px; top: 136.68px;}

    #warped .w27 {-moz-transform: rotate(7.55rad);-webkit-transform: rotate(7.55rad);-o-transform:
            rotate(7.55rad);-ms-transform: rotate(7.55rad); transform: rotate(7.55rad);
        width: 10px; height: 24px; left: 432.45px; top: 152.17px;}

    #warped .w28 {-moz-transform: rotate(7.68rad);-webkit-transform: rotate(7.68rad);-o-transform:
            rotate(7.68rad);-ms-transform: rotate(7.68rad); transform: rotate(7.68rad);
        width: 18px; height: 24px; left: 432.84px; top: 170.64px;}

    #warped .w29 {-moz-transform: rotate(7.84rad);-webkit-transform: rotate(7.84rad);-o-transform:
            rotate(7.84rad);-ms-transform: rotate(7.84rad); transform: rotate(7.84rad);
        width: 19px; height: 24px; left: 434.48px; top: 194.02px;}

    #warped .w30 {-moz-transform: rotate(7.97rad);-webkit-transform: rotate(7.97rad);-o-transform:
            rotate(7.97rad);-ms-transform: rotate(7.97rad); transform: rotate(7.97rad);
        width: 11px; height: 24px; left: 437.41px; top: 213.97px;}

    #warped .w31 {-moz-transform: rotate(8.08rad);-webkit-transform: rotate(8.08rad);-o-transform:
            rotate(8.08rad);-ms-transform: rotate(8.08rad); transform: rotate(8.08rad);
        width: 11px; height: 24px; left: 434.65px; top: 229.73px;}

    #warped .w32 {-moz-transform: rotate(8.27rad);-webkit-transform: rotate(8.27rad);-o-transform:
            rotate(8.27rad);-ms-transform: rotate(8.27rad); transform: rotate(8.27rad);
        width: 36px; height: 24px; left: 413.15px; top: 256.72px;}

    #warped .w33 {-moz-transform: rotate(8.5rad);-webkit-transform: rotate(8.5rad);-o-transform:
            rotate(8.5rad);-ms-transform: rotate(8.5rad); transform: rotate(8.5rad);
        width: 23px; height: 24px; left: 402.2px; top: 286.39px;}

    #warped .w34 {-moz-transform: rotate(8.66rad);-webkit-transform: rotate(8.66rad);-o-transform:
            rotate(8.66rad);-ms-transform: rotate(8.66rad); transform: rotate(8.66rad);
        width: 15px; height: 24px; left: 390.27px; top: 304.31px;}

    #warped .w35 {-moz-transform: rotate(8.82rad);-webkit-transform: rotate(8.82rad);-o-transform:
            rotate(8.82rad);-ms-transform: rotate(8.82rad); transform: rotate(8.82rad);
        width: 23px; height: 24px; left: 367.68px; top: 319.46px;}

    #warped .w36 {-moz-transform: rotate(8.96rad);-webkit-transform: rotate(8.96rad);-o-transform:
            rotate(8.96rad);-ms-transform: rotate(8.96rad); transform: rotate(8.96rad);
        width: 11px; height: 24px; left: 354.73px; top: 330.58px;}

    #warped .w37 {-moz-transform: rotate(9.07rad);-webkit-transform: rotate(9.07rad);-o-transform:
            rotate(9.07rad);-ms-transform: rotate(9.07rad); transform: rotate(9.07rad);
        width: 10px; height: 24px; left: 340.99px; top: 336.69px;}

    #warped .w38 {-moz-transform: rotate(9.18rad);-webkit-transform: rotate(9.18rad);-o-transform:
            rotate(9.18rad);-ms-transform: rotate(9.18rad); transform: rotate(9.18rad);
        width: 15px; height: 24px; left: 321.76px; top: 341.79px;}

    #warped .w39 {-moz-transform: rotate(9.31rad);-webkit-transform: rotate(9.31rad);-o-transform:
            rotate(9.31rad);-ms-transform: rotate(9.31rad); transform: rotate(9.31rad);
        width: 12px; height: 24px; left: 305.06px; top: 345.02px;}

    #warped .w40 {-moz-transform: rotate(9.42rad);-webkit-transform: rotate(9.42rad);-o-transform:
            rotate(9.42rad);-ms-transform: rotate(9.42rad); transform: rotate(9.42rad);
        width: 11px; height: 24px; left: 289.09px; top: 345.99px;}
}

.md-toolbar-tools {
    background-color: silver;
}