<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Scheduled Bookings</h1>
            <button class="btn" ng-click="submitForm()">Add New Booking</button>
        </div>
    </div>

    <div class="row">
        <div class="card-deck">
            <div class="card" ng-repeat="booking in bookings">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{booking.title}}</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>